#banner
    .banner_content
        %h1 File Cabinet
        %p Your files organized
        %button= link_to "Enter", new_user_registration_path

#callouts
    .callout_inner
        .wrapper
            .callout
                %h2 Organize
                %p Asdsd sgsag dadsg dsbds sdvdss dsgdsg dsads asdfsdf %adsfdsjbsdb
                bsdbdsb dskgsdkgdsb dsklwer 

#bottom_cta
    .wrapper
        %h2 Go Ahead!
        %br
        %button= link_to "join Now", new_user_registration_path